<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}City Feedback{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
  {% block styles %}{% endblock %}
</head>
<body>
  {% block nav %}
    {% include 'components/navbar.html' %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
</html>